@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    transition: all 0.3s linear;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Comic Neue',
        cursive;

    @media only screen and (orientation: portrait) {
        overflow-x: hidden;
        width: 100vw;
        min-width: 30rem;
    }

    main {
        min-height: 70vh;

        @media only screen and (orientation: portrait) {
            padding-top: 8rem;
        }
    }

    .container-fluid {
        padding: 0rem 2rem;
        margin: auto;

        @media only screen and (orientation: portrait) {
            padding: 0rem 0.5rem;
        }

        h2 {
            text-align: center;
            font-size: 3.6rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }
    }

    a {
        text-decoration: none;
    }
}


.page-enter-active,
.page-leave-active {
    transition: all 1s ease-in-out;
}

/* delay leave of parent element */
.page-leave-active {
    transition-delay: 0.25s;
}

.page-enter-from,
.page-leave-to {
    transform: translateY(30px);
    opacity: 0;
}

/* we can also transition page elements using page selectors */
.page-enter-active main,
.page-leave-active main {
    transition: all 0.3s ease-in-out;
}

/* delay enter of page element */
.page-enter-active main {
    transition-delay: 0.25s;
}

.page-enter-from main,
.page-leave-to main {
    transform: translateX(30px);
    /*
  	Hack around a Chrome 96 bug in handling page opacity transitions.
    This is not needed in other browsers or Chrome 99+ where the bug
    has been fixed.
  */
    opacity: 0.001;
}

@import '~/assets/scss/navigation.scss';
@import '~/assets/scss/upr-navigation.scss';