$purple: #6839CC;
$orange: #FA782D;
$white: #fff;
$dark: #100428;
$danger: #F90E4C;
$sky-blue: #DFEFF9;
$secondary: #666;
$vanilla: #F6E8FF;
$gold: #FDCB45;
$light: #f6f6f6;
$cream: #EBADC0;

$light-dark: #9f9f9f;

$brown-cream: #F2EAEA;